ul {
  list-style: none;
  padding: 0;
}

.discuss-comment {
  font-size: 0.8em;
  border-top: 1px solid #968c9b;
  padding: 0.5em 0;
}

textarea {
  width: 100%;
  background-color: #111111;
  color: #ebe1cd;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 0.8em;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  outline: none;
}