footer {
  background: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer p {
  margin: 0.2em 0;
  font-size: 0.6em;
}

.footer-item {
  font-family: 'Shadows Into Light', cursive, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  color: #968c9b;
  text-decoration: none;
  margin: 0 1em 0 1em;
}

#footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
}