
body {
  background: #000000;
  color: #ebe1cd;
  font-family: 'Source Sans Pro', monospace, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

main {
  margin-bottom: 2em;
  max-width: 600px;
}

main p {
  margin: 0;
}

#yites-photo {
  margin-bottom: 2em;
}

h1 {
  font-family: 'Shadows Into Light', cursive, Helvetica, sans-serif;
  color: #64AFC8;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin: 0;
}

h2 {
  margin: 1em 0 0.2em 0;
  font-size: 2em;
}

input[type=submit] {
  background-color: #ebe1cd;
  color: #647387;
  font-size: 1.5em;
  font-family: 'Shadows Into Light', cursive, Helvetica, sans-serif;
  padding:5px 15px; 
  margin-top: 300px
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.responsive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
}

@media screen and (max-width: 600px) {
  main {
    margin: 0 1.5em 1.5em 1.5em;
  }

  header {
    margin: 3em 1.5em 0 1.5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .responsive-content iframe {
    max-width: 100%;
  }
}

