body {
  background: #000000;
  color: #ebe1cd;
  margin: 0 20% 0 20%;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
}

.responsive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 2em 0 2em;
  }

  header {
    margin-top: 3em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .responsive-content iframe {
    max-width: 100%;
  }
}