nav {
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
}

.nav-item {
  color: #968c9b;
  text-decoration: none;
  margin: 0 1em 0 1em;
}

.nav-item-active {
  color: #ffaf50;
}

#nav-responsive-button {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
  }

  .nav-item {
    display: none;
  }

  #nav-responsive-button {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em 2em 0 0;
  }

  .responsive .nav-item {
    display: block;
    text-align: right;
    margin: 1em 0 1em 0;
  }

  .responsive #nav-group {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3em;
    padding: 0 2em 0 1em;
    background: #000000;
    z-index: 9999 !important;
  }
}