nav {
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
}

a {
  display: flex;
}

i {
  margin-right: 1em;
}

.nav-item {
  color: #968c9b;
  text-decoration: none;
  margin: 0 1em 0 1em;
}

.nav-item-active {
  color: #ffaf50;
}

#nav-responsive-button {
  display: none;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }

  #nav-responsive-button {
    display: block;
  }

  .responsive {
    flex-direction: column;
  }

  .responsive a:first-child {
    position: relative;
  }

  .responsive a:not(:first-child) {
    float: none;
    display: block;
  }
}