---
title: Discuss
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <h1>-Discuss-</h1>
  </header>

  <main>
    <h2> Yites pro-tip - Advice for Converting Audio to MIDI in Ableton</h2>

    <p>
      Ableton Live can automatically take audio sounds and convert them into MIDI. Generally, it will not be able to
      take a full audio track and convert every note dutifully, but the functionality is useful for converting single
      lines of audio into MIDI. As there are many variables to accuracy, it's better to expect the conversion to be a
      starting point, rather than a finished product. The basics of converting is simple: Right-click on any audio clip
      and choose Convert Harmony to New MIDI track, Convert Melody to New MIDI track, or Convert Drums to New MIDI
      track, depending on the type of audio you are converting.
    </p>

    <ul>
      <li>
        Convert Drums to New MIDI Track analyzes audio with drums and produces a new MIDI clip that will play a
        similar pattern on the Drum Rack. This is perhaps the most accurate of the three conversion types, I've found
        it to be useful in remixes when I need a quick editing starting point for beats I like.
      </li>
      <li>
        Convert Melody to New MIDI Track will generate useful results if the singer is autotuned or very clear in
        intonation. I found this to be less accurate for live or emotional performances.
      </li>
      <li>
        Convert Harmonny to New MIDI Track is pretty much useless. I never use it, and nor should you if you don't
        want your MIDI file to be a complete mess. If you really have to, be prepared for lots of editing.
      </li>
    </ul>

    <p>
      That all for today folks, check back in the future for more music production pro-tips from Yites!
    </p>
  </main>

  {% include footer.html %}

</body>

</html>