---
title: Home
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <img src="img/yites-text.png" alt="YITES">
    <img src="img/yites.jpg" alt="Yites Photo">
    <h1>-About-</h1>
  </header>

  <main>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore sunt ipsa quibusdam. Voluptate, amet porro? Totam
    fuga, quisquam eum tempora eaque quibusdam at eveniet praesentium, error possimus explicabo adipisci officiis.</p>
  </main>

</body>

</html>