---
title: Home
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <img src="img/yites-text.png" alt="YITES">
    <img src="img/yites.jpg" alt="Yites Photo">
    <h1>-About-</h1>
  </header>

  <main>
    <p>
      Nick earned a chemistry and music double-major at the University of Richmond, earned a master’s degree from NYU
      in film music composition, and is currently attending medical school at the University of Nebraska. Starting his
      sophomore year in undergrad, he started “Yites” as an electronic music production project and has released an
      eponymous EP in 2015 and singles such as “Something About You” as recently as November 2018. Nick's background in
      composition and his knowledge of instrumentation and scoring uniquely combines with the modern expression of
      electronic music to form a unique sound that finds inspiration from the past and present. Whether you're
      a fan, a musician, or just passing through - thank you for being a part of the story of Yites.
    </p>
  </main>

</body>

</html>