---
title: Music
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <h1>-Music-</h1>
  </header>

  <main>

    {% assign orderedMusic = site.music | sort: "order" %}
    {% for music in orderedMusic %}
    {% include music.html %}
    {% endfor %}

  </main>

</body>
<footer>
  <p>Posted by: Nick Yeutter</p>
  <p>Contact information: <a href="mailto:richhu@bu.edu">richhu@bu.edu</a>.</p>
  <p><a href="https://www.instagram.com/yitesmusic/?hl=en">Instagram</a></p>
  <p><a href="https://soundcloud.com/yites ">SoundCloud</a></p>
</footer>
</html>
