---
title: Remix
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <h1>-Remix-</h1>
  </header>

  <main>
    <div class="responsive-content">
      <p>
        Yites is holding a remix contest for his new single "Something About You". Winning tracks will be part of a
        selection of five winners, which will be compiled into a remix album and released worldwide. The remix contest
        starts on 1/1/2019 and ends 4/1/2019. Instrumental and vocal stems can be found after you register via email below. 
        Good luck all! <br><br>        
        Please submit your remixes to the link below:</p>

      <form method="post" action="mailto:jarchambault87@gmail.com">
        <input type="submit" value="Send Email" />
      </form>
      
    </div>
  </main>

  {% include footer.html %}

</body>

</html>