---
title: Remix
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <h1>-Remix-</h1>
  </header>

  <main>
    <p>Yites is holding a remix contest for his new single "Something About You". Winning tracks will be part of a selection of five winners, 
    which will be compiled into a remix album and released worldwide. The remix contest starts on 1/1/2019 and ends 4/1/2019. Instrumental and vocal stems 
      can be found after you register. Good luck all!</p>
  </main>

</body>

</html>
