---
title: Social
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include nav.html %}

  <header>
    <h1>-Social-</h1>
  </header>

  <main>
    <div class="responsive-content">
      <h2 class = "social">Facebook</h2>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FYITESmusic%2F&tabs=timeline&width=500&height=900&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="500" height="900" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>
    </div>
    <div class=responsive-content>
      <h2 class = "social">Instagram</h2>
      <!-- InstaWidget -->
      <a href="https://instawidget.net/v/user/yitesmusic" id="link-f624752f563c97a0231c35c7dc939e1321441f6d5506f40fcf081b14a45937d2">@yitesmusic</a>
      <script src="https://instawidget.net/js/instawidget.js?u=f624752f563c97a0231c35c7dc939e1321441f6d5506f40fcf081b14a45937d2&width=500px"></script>
    </div>
  </main>

  {% include footer.html %}

</body>

</html>